:root {
  --branding-color: #db7ff9;
  --secondary-color: #f696bc;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;

}

body {
  background-color: #fae7f8;
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(0, 0, 0);
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 28px;
  line-height: 1.5;
  color: rgb(74, 72, 75);
}

h2 {
  font-size: 26px;
  color:#8A2BE2;
}

h3 {
  font-size: 18px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.profile-container {
  max-width: 1100px;
  margin: auto;
  padding: 1rem;
}

.profile {
  display: flex;
  align-items:center;
  gap:20px;
  margin-left: 20px;
  margin-right: 20px;
}

.hero {
  background: transparent;
  padding: 10px;
  flex:3;
}

.hero-info {
  flex:1; 
  width: auto;
  height: auto;
  padding: 0;
  background: transparent;
}

.hero-info h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.4;
  font-size: 25px;
  margin-bottom: 2px;
}

.logo {
  background: transparent;
  width:80px;
  object-fit: contain;
  border:none;
}

.pink-bg-container{
  background: var(--secondary-color);
  padding: 14px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap:15px;
}

.into-text {
  flex-direction: column;
  display: flex;
  align-items: left;
  gap:8px;
  flex-wrap: nowrap;
}

.into-text .btn-arrow {
  display: inline-flex;
  align-items: center;
}

.resume-card {
  background-color: white;
  padding: 40px;
  border-radius: 20px; 
  margin-right: 10px;
}

.resume-card p {
  font-family: Arial;
  margin-bottom:10px;
}

.resume-link {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 24px;
  }

.btn-resume {
  transition: background 0.3s ease;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 2rem;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.btn-branding {
  font-size: 28px;
}


.project-desciption {
  padding: 120px 60px;
}

.logo {
  max-height: 150px;
}

nav {
  padding: 10px 20px;
  width: 100%;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.btn {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 15px;
  display:inline-block;
}

.btn-branding {
  background-color: var(--secondary-color);
  color:white;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
  .resume-card {
    display: none;
  }
  .pink-bg-container {
  background-color: white;
  }
}
